/*global*/
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: arial;
}

a {
    color: black;
    text-decoration: none;
}

.img {
    width: 100%;
    height: auto;
}







/*utilities*/
.menu a {
    color: white;
    margin: 0px 10px;
}

.container {
    margin-left: 1rem;
    margin-right: 1rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

@media(max-width:768px){
    .flex-container{
        flex-direction: column;
    }
}

.flex-item {
    display: flex;
    flex-direction: column;
    background-color: rgb(222, 224, 224);
    justify-content: space-between;
    margin: 3px;


}

.flex-item img {
    width: 100%;
    height: auto;
}

.flex-item-info {
    width: 95%;
    margin: 20px;
    justify-content: center;

}

.amenities {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    padding: 10px;


}

.price {
    color: green;
    font-weight: bold;
}

.btn {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 1% 30%;
}





/*header*/
.site-header {
    display: flex;
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: 125%;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 300px;
    color: white;
}

/*contact header*/
.contact-site-header {
    display: flex;
    justify-content: space-around;
    background-color: orange;
    height: 200px;
    color: black;
    margin-left: 1rem;
    margin-right: 1rem;
}

.contact-site-header h1 {
    font-weight: 700;
}


.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: space-between;
    height: auto;
    width: 80%;
    margin: auto;
}

.contact-main-container h2 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.contact-main-container p {
    font-size: smaller;
    margin-top: .5rem;
}

.form-container {
    background-color: #dedede;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;


}

/*fieldset and legend*/

fieldset {
    border: solid 1px;
    border-radius: 15px;
    margin: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

legend {
    padding: .5rem .5rem;
}

/*contact page footer*/

.footer-container {
    display: flex;
    justify-content: space-around;
}

